<html
    xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    data-namespace-typo3-fluid="true">
<f:layout name="Default"/>
<!-- Templates/Loan/List.html -->

<f:section name="Default">
    <!--TYPO3SEARCH_end-->
    <f:variable name="countLoanCurrent" value="{loanCurrent -> f:count()}"/>

    <f:switch expression="{settings.layout}">
        <f:case value="1">
            <!--Default-View-->
            <f:if condition="{countLoanCurrent} > 0">
                <f:then>
                    <link
                        rel="stylesheet"
                        type="text/css"
                        media="all"
                        href="/typo3conf/ext/slub_web_profile/Resources/Public/Css/tableview.css"/>
                    <script
                        type="module"
                        src="/typo3conf/ext/slub_web_profile/Resources/Public/JavaScript/loan-current.js"></script>
                    <table id="js-loan-current-action" class="loancurrent table tableview" summary="{f:translate(key: 'loanCurrent.table.summary')}">
                        <caption class="js-loan-dropdown-table dropdown__toggle-table table-loan--is-open" type="button" aria-controls="dropdownTable" data-bs-toggle="dropdown"
                            aria-expanded="true">
                            <strong>{countLoanCurrent} {f:translate(key: 'loanCurrent.table.totalLoanItems')}</strong>
                        </caption>
                        <thead>
                            <tr>
                                <th scope="col"></th>
                                <th scope="col"><f:translate key="loan.label.barcode" /></th>
                                <th scope="col"><f:translate key="loan.label.title-volume" /></th>
                                <th scope="col"><f:translate key="loan.label.author" /></th>
                                <th scope="col"><f:translate key="loan.label.date-due" /></th>
                                <th scope="col"><f:translate key="loan.label.renewal" /></th>
                                <th scope="col" style="width: 17%"><f:translate key="loan.label.renew" /></th>
                            </tr>
                        </thead>
                        <tbody class="js-loan-dropdown__table" aria-labelledby="dropdownTable" role="listbox" aria-hidden="false">
                            <f:for as="loanItem" each="{loanCurrent}" iteration="iterator">
                                <f:render partial="Loan/Current" arguments="{loanItem: loanItem, settings: settings, iterator: iterator}" />
                            </f:for>
                        </tbody>
                    </table>
                    <f:comment>// TODO tableview action</f:comment>
                    <ul class="js-loan-dropdown__table tableview-action" aria-labelledby="dropdownTable" role="listbox" aria-hidden="false">
                        <li>
                            <button id="js-loan-current-select-all" class="btn btn-action" type="button"
                            data-select="{f:translate(id: 'loan.btnsubmit.mark')}"
                            data-deselect="{f:translate(id: 'loan.btnsubmit.reset')}">
                                <f:translate key="loan.btnsubmit.mark" />
                            </button>
                        </li>
                        <li>
                            <button id="js-loan-current-renew" class="btn btn-disabled" type="button" disabled>
                                <f:translate key="loan.btnsubmit.renew" />
                            </button>
                        </li>
                    </ul>
                </f:then>
                <f:else>
                    <div class="list__no-found">
                        <f:if condition="{content.bodytext}">
                            <f:then>
                                <f:format.html>{content.bodytext}</f:format.html>
                            </f:then>
                            <f:else>
                                <p><f:translate key="loanCurrent.default.empty" /></p>
                            </f:else>
                        </f:if>
                    </div>
                </f:else>
            </f:if>
        </f:case>
        <f:case value="2">
            <!--Widget-View-->
            <f:render
                partial="Widget/CloseButton"
                arguments="{id: content.uid}" />
            <f:if condition="{countLoanCurrent} > 0">
                <f:then>
                    <div id="js-widget-content-{content.uid}" class="loanwidget widget__content">
                        <ul class="widgetlist">
                            <f:for as="loanItem" each="{loanCurrent}" iteration="iterator">
                                <f:render partial="Loan/Widget" arguments="{loanItem: loanItem, settings: settings, iterator: iterator}" />
                            </f:for>
                        </ul>
                        <f:render
                            partial="Widget/Footer"
                            arguments="{
                                pageUid: settings.listPageUid,
                                title: '{f:translate(key: \'loan.widget.more\')}'
                            }"/>
                    </div>
                </f:then>
                <f:else>
                    <div class="loanwidget__noentry widget__noentry">
                        <div class="widget__noentry-text">
                            <f:if condition="{content.bodytext}">
                                <f:then>
                                    <f:format.html>{content.bodytext}</f:format.html>
                                </f:then>
                                <f:else>
                                    <p><f:translate key="loanCurrent.default.empty" /></p>
                                </f:else>
                            </f:if>    
                        </div>
                    </div>
                    <span class="footerdata__morelink footerdata__morelink-deactive"><f:format.raw><f:translate key="loan.widget.more"/></f:format.raw></span>
                </f:else>
            </f:if>
        </f:case>
    </f:switch>
    <!--TYPO3SEARCH_begin-->
</f:section>
</html>
