@import 'variables';

// Basic styles
.btn {
  display: inline-block;
  text-decoration: none !important;
  cursor: pointer;
  background-color: transparent;
  border: 1px solid transparent;
  padding: .375rem .75rem;
}

.btn-close {
  box-sizing: content-box;
  width: 2em;
  height: 2em;
  padding: .25em .25em;
  color: $black;
  background: $white url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23078078'%3e%3cpath d='M.293.293a1 1 0 011.414 0L8 6.586 14.293.293a1 1 0 111.414 1.414L9.414 8l6.293 6.293a1 1 0 01-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 01-1.414-1.414L6.586 8 .293 1.707a1 1 0 010-1.414z'/%3e%3c/svg%3e") center/1em auto no-repeat;
  border: 1px solid $secondary-petrol-green;
  border-radius: 100%;
  display: inline-flex;
  cursor: pointer;
  justify-content: center;

  &:hover {
    color: $black;
    text-decoration: none;
  }

  span {
    color: $secondary-petrol-green;
    text-align: center;
    font-family: $VistaSansBold;
    font-size: 11px;
    margin-top: 3.5em;
    width: 60px;
    position: absolute;
  }
}

.btn-config {
  content: '';
  position: absolute;
  cursor: pointer;
  outline: 10px solid $white;
  margin-left: 1rem;
  height: 28px;
  width: 28px;
  background: $white url("../Icons/Content/widget-config-icon.png") no-repeat;
  box-sizing: content-box;
  border: 0 none;
}

.btn-action {
  transition: all $transition-default;
  border: 0 none;
  font-size: .8rem;
  font-family: $VistaSans;
  white-space: nowrap;
  text-transform: uppercase;
  color: $white;
  background: $secondary-petrol-green;
  padding: .475rem 1rem .35rem;
  border-bottom: 2px $secondary-petrol-dark solid;

  &-lg {
    padding: .95rem 1.125rem;
  }

  &:hover {
    background: $primary-red-darker;
    border-top-color: $primary-red-darker;
  }
}

.btn-light {
  color: $darkmidgrey;
  background-color: transparent;
  border: 1px solid $input-disabled-border-color;
  border-bottom-width: 2px;
  text-transform: uppercase;

  &:hover {
    color: $white;
    background: $secondary-petrol-green;
    border-color: $secondary-petrol-green;
    border-bottom-color: $secondary-petrol-dark;
  }
}

.btn:disabled {
  color: $darkmidgrey;
  pointer-events: none;
  background-color: transparent;
  border-color: $input-disabled-border-color;
  outline: 1px solid $input-disabled-border-color;
  border-bottom-width: 1px;
  opacity: 0.5;
}

.d-none {
  display: none;
}

.widget-blurred {
  filter: blur(8px);
  opacity: .5;
}

.content .dropdown {
  
  &__toggle.btn {
    background-color: $secondary-petrol-green;
    font-family: "VistaSansBold",Verdana,Arial,Helvetica,sans-serif;
    display: block;
    width: 100%;
    color: $white;
    border-bottom: 4px solid $secondary-petrol-dark;
    text-transform: uppercase;
    transition: all 0.5s;
    text-align: left;

    &:hover,
    &.show {
      background-color: $secondary-petrol-dark;
    }
  }

  &__menu {
    list-style: none;
    z-index: 1000;
    opacity: 0;
    visibility: hidden;
    min-width: calc(100% - 30px);
    background-color: rgba($secondary-petrol-dark, .95);
    padding: .5rem 0;
    position: absolute;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    margin: 0;
    transform: translateY(-2em);
    transform-origin: center top;
    transition: all 0.3s ease-in-out 0s,visibility 0s linear 0.3s;

    &:before {
      position: absolute;
      top: -10px; 
      left: 45%;
      width: 0;
      height: 0;
      border: 10px solid transparent;
      border-top-width: 10px;
      border-bottom-color: transparent;
      border-top-width: 0;
      border-bottom-color: rgba($secondary-petrol-dark, .9);
      content: " ";
    }

    &.show {
      visibility: visible;
      opacity: 1;
      transform: translateY(20px);
      transition-delay: 0s, 0s, 0.3s;
    }
  }

  &__link {
    color: $white;
    text-decoration: none;
    text-transform: uppercase;
    display: block;
    padding: .7rem 1.3rem;
    font-family: $VistaSansBook;
    font-weight: 600;
    line-height: 1.3;
    letter-spacing: 1px;

    &:hover {
      color: $white;
      background-color: $secondary-petrol-midsoft;
    }

    span {
      display: block;
      font-size: 11px;
      font-family: $VistaSans;
      font-weight: 400;
      text-transform: initial;
      color: $lightgrey;
      letter-spacing: initial;
    }
  }
}