/*
 *
 * Variables
 * ================================================
 * Values for colors and breakpoints
 *
 */

// SLUB Standard media queries
$phoneLandscapeViewportWidth: 480px;
$tabletViewportWidth: 768px;
$tabletLandscapeViewportWidth: 1024px;
$desktopViewportWidth: 1200px;

// Colors
$primary-red: rgb(204, 0, 0); // The SLUB red
$primary-red-darker: darken($primary-red, 10%); // The softly darkened red
$secondary-petrol: rgb(17, 102, 119); // The base petrol color
$secondary-petrol-mid: lighten($secondary-petrol, 15%); // A lighten up version of the secondary color
$secondary-petrol-midsoft: desaturate($secondary-petrol-mid, 40%); // A desaturated variant of the petrol
$secondary-petrol-bright: desaturate(lighten($secondary-petrol, 40%), 15%); // A brightened up version of the secondary color
$secondary-petrol-light: desaturate(lighten($secondary-petrol, 62%), 30%); // A very light color for borders and backgrounds
$secondary-petrol-dark: darken($secondary-petrol, 7%); // A darken version of the petrol
$secondary-petrol-green: rgb(7, 128, 120); // The petrol color with a green tint
$basegrey: rgb(51, 51, 51); // A very dark base grey (text color)
$darkgrey: lighten($basegrey, 20%); // a dark grey (#666)
$darkmidgrey: lighten($basegrey, 25%); // a dark mid grey (#737373)
$midgrey: lighten($basegrey, 40%); // a mid grey variant (#999)
$lightgrey: lighten($basegrey, 60%); // a light grey (#CCC)
$lightbrightgrey: lighten($basegrey, 65%); // a light bright grey variant (#d9d9d9)
$brightgrey: lighten($basegrey, 70%); // a light grey (#e6e6e6)
$white: #fff;

// Standard animation value
$transition: all 0.3s ease-in-out;
$transition-default: .25s linear 0s;
