@import 'variables';
@import 'utilities';
@import 'forms';
@import 'message-status';

// .frame-type-slubwebprofile_accountform {}

.accountform {
  padding-top: 1rem;
  
  .form-message-status {
    margin-bottom: 2rem;
    padding: 1rem;
  }
}