@import 'message-status';

.api-message-status {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 300;
  padding: 1rem;
}

.api-inline-message-status {
  margin-top: 1rem;
  margin-bottom: 2rem;
  padding: 1rem;
}