@import 'variables';

.frame-type-slubwebprofile_eventfilter .event-filter {
  display: none;
  margin-bottom: 2rem;
  position: relative;
  z-index: 10;
  min-width: 18rem;
  color: $white;
  font-family: $VistaSansBold;

  &--show {
    display: inline-block;
  }

  &__label {
    cursor: pointer;
    background-color: $secondary-petrol-green;
    border-bottom: 4px solid $secondary-petrol-dark;
    padding: .375rem .75rem;
    margin: 0;

    &:after {
      content: '>';
      transform: rotate(90deg) scale(1.2);
      margin-top: 2px;
      position: absolute;
      right: 19px;
    }

    &:hover,
    &--open {
      background-color: $secondary-petrol-dark;
    }

    &--open:after {
      transform: rotate(-90deg) scale(1.2);
    }
  }

  &__list {
    display: none;
    min-width: 18rem;
    margin: 0;
    padding: 0;
    list-style: none;
    background-color: rgba($secondary-petrol-dark, .95);
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    position: absolute;

    &--show {
      display: block;
    }
  }

  &__item {
    cursor: pointer;
    padding: .5rem .75rem;

    &--active {
      background-color: $secondary-petrol-midsoft;
    }
  }
}

.tiles .event-filter__tiles-result--hide {
  display: none;
}
