@import 'variables'; 

// general
.content {
  &__dashboard {
    overflow: hidden;
  }
  
  @media screen and (min-width: $desktopViewportWidth) {
    &__col {
      position: relative;
      width: 100%;
      padding-right: 15px;
      padding-left: 15px;
    }
    &__col-left {
      flex: 0 0 70%;
      max-width: 70%;
    }
    &__col-right {
      flex: 0 0 30%;
      max-width: 30%;
    }
  }
}

@media screen and (min-width: $desktopViewportWidth) {
  .row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
  }
}