@import 'variables';
@import 'utilities';

// slubwebprofile_userdetail
.userdetail {
  font-family: $VistaSansBold;
  margin-bottom: 2rem;

  &__profil {
    text-align: right;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  &__linklist {

    .dropdown__toggle {
      &:before,
      &:after {
        content: "";
        display: inline-block;
        width: 15px;
        height: 15px;
      }

      &:after {
        content: '>';
        transform: rotate(90deg) scale(1.4);
        margin-top: 9px;
        position: absolute;
        right: 19px;
      }

      &:before {
        background: $white url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 15 15'%3E%3Cg fill='%23078078' stroke='%23078078' stroke-linejoin='round' transform='scale(1.07143)'%3E%3Ccircle cx='7' cy='3.75' r='3.25'/%3E%3Cpath d='M13.18 13.5a6.49 6.49 0 0 0-12.36 0Z'/%3E%3C/g%3E%3C/svg%3E%0A") center/11px no-repeat;
        border-radius: 50%;
        margin-right: 5px;
        margin-bottom: -2px;
      }

      &.show:after {
        content: '';
        margin-top: 2px;
        right: 23px;
        background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'%3e%3cpath d='M.293.293a1 1 0 011.414 0L8 6.586 14.293.293a1 1 0 111.414 1.414L9.414 8l6.293 6.293a1 1 0 01-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 01-1.414-1.414L6.586 8 .293 1.707a1 1 0 010-1.414z'/%3e%3c/svg%3e") center/.5em auto no-repeat;
      }
    }
  }
}

.userprofil {
  margin-bottom: 2rem;

  &__name {
    font-size: 1.17em;
    color: $primary-red;
    display: block;
  }
  &__desc {
    color: $secondary-petrol-green;
    text-transform: uppercase;
    font-size: 14px;

    &:before {
      content: "> ";
    }
  }
  &__image {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $lightgrey;
    border-radius: 100px;
    text-transform: uppercase;
    width: 50px;
    height: 50px;
    margin-left: 1rem;
    overflow: hidden;

    @media screen and (min-width: $desktopViewportWidth) {
      width: 125px;
      height: 125px;
    }
  }
}
