.dashboard__widget {
    border: 1px #ddd solid;
    background: #eee;
    padding: 1.5rem;
    margin-bottom: 2rem;
}

.dashboard__widget--loading {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10rem;
}

.widget__loading {
    animation: spin 2s linear infinite;
    width: 2rem;
    height: 2rem;
    fill: #ccc;
}

@keyframes spin {
    100% {
        transform:rotate(360deg);
    }
}

.event-list-item__category {
    cursor: pointer;
}







.frame-type-slubwebprofile_dashboard .frame-type-slubwebprofile_eventlist {
    left: 0;
    margin: 0;
    padding: 0;
    width: auto;

    &:after,
    .event__calendar--list li:after {
        clear: both;
        content: '';
        display: block;
        height: 0;
        width: 100%;
    }

    & > * {
        width: 50%;
    }
    header {
        width: 100%;
        h3 {
            margin: 0 0 1.3rem;
        }
        h4 {
            margin: 0 0 1rem 0;
        }
    }
    a {
        text-decoration: none;
    }

    // event list
    .event__calendar--list {
        list-style-type: none;
        margin: 1rem 0 0;
        padding-left: 0;

        li {
            margin: 0 0 1rem;
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
    .event__date {
        display: inline-block;
        float: left;
        font-size: 1rem;
        margin-right: 1rem;
        max-width: 3.125rem;

        .event__date--day {
            display: inline-block;
            font-size: 1.75rem;
            width: 100%;
        }
        .event__date--month,
        .event__date--year {
            display: inline-block;
            width: 100%;
        }
    }
    .event__time,
    .event__link {
        display: inline-block;
        float: left;
        width: calc(100% - 3.125rem - 1rem);
    }

    // calendar with event dates
    #js-widget-event-teaser-calendar {
        .color-calendar--small {
            border-radius: 0;
            box-shadow: none;
            width: 100%;
        }
        .color-calendar.basic .calendar__days .calendar__day-selected .calendar__day-box {
            border-radius: 0 !important;
            box-shadow: none;
        }
        .calendar__weekdays {
            display: none;
        }
        .color-calendar.basic.color-calendar--small .calendar__header,
        .color-calendar.basic.color-calendar--small .calendar__body .calendar__days {
            grid-template-columns: repeat(7,minmax(33px,90px));
        }
        /*
        .color-calendar.basic .calendar__days .calendar__day-box {
            border-radius: 0;
            opacity: .1;
        }
         */
    }

    @media screen and (min-width: 48rem) {
        & > * {
            width: 50%;
        }
        // event list
        .event__calendar {
            float: left
        }
        // calendar with event dates
        #js-widget-event-teaser-calendar {
            float: right;
            padding: 0 0 0 5%;
        }
    }
}

.frame-type-slubwebprofile_eventlist {
    background-color: #eee;
    padding: 4rem 0 5rem;
    width: 100vw;
    position: relative;
    left: calc(-50vw + 50%);

    & > * {
        margin: 0 auto;
        max-width: 1170px;
        padding: 0 0.938rem;
        width: 100%;
    }

    header h3 {
        margin: 0 0 2rem;
    }

    .eventlist {
        display: flex;
        flex-flow: row wrap;
        gap: 1rem 2rem;
    }

    .eventlist__item {
        background-color: #fff;
        flex: 1 calc(33.33333% - 2rem);
        padding: 2rem 2rem 4rem;
        position: relative;

        p:first-child {
            margin-top: 0;
        }
        p:last-child {
            margin-bottom: 0;
        }
    }
    .eventlist__item--category {
        background-color: lightgrey;
        display: inline-block;
        padding: .2rem .6rem;
        margin: 0 0 0.3rem;
    }
    .eventlist__item--title {
        font-size: 1.7rem;
        line-height: 120%;
        margin: 1.2em 0;
    }
    .eventlist__item--date,
    .eventlist__item--time {
        display: block;
        font-size: 1.7rem;
        line-height: 120%;
    }
    .eventlist__item--more {
        position: absolute;
        right: 2rem;
        bottom: 2rem;
    }
    .eventlist__item--link {
        text-decoration: none;

        &:after {
            background-color: lightgrey;
            content: '';
            display: inline-block;
            height: 30px;
            width: 30px;
        }
    }
}
