<html
    xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    data-namespace-typo3-fluid="true">
<f:layout name="Default"/>
<!-- Templates/User/Detail.html -->

<f:section name="Default">
    <!--TYPO3SEARCH_end-->
    <f:if condition="{user}">
        <svg height="100" viewBox="0 0 100 100" width="100" xmlns="http://www.w3.org/2000/svg">
            <g fill="#e00" transform="translate(6 1)">
                <path d="m18 0v9.06l61.836 8.613v65.06l9.164 1.267v-74.105z"/>
                <path d="m0 88.097 71 9.903v-74.098l-71-9.902z"/>
            </g>
        </svg>

        <br />

        <p>
            <strong>{user.accountData.name}</strong>
            <br />
            {user.accountData.X_category_desc}
        </p>

        <f:if condition="{pages -> f:count()} > 0">
            <ul>
                <f:for as="page" each="{pages}">
                    <li>
                        <a href="{page.link}">{page.title}</a>
                    </li>
                </f:for>
            </ul>
        </f:if>
    </f:if>
    <!--TYPO3SEARCH_begin-->
</f:section>
</html>
