<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="{formIdentifier}-true">
<f:layout name="Default" />
<!-- Templates/AccountForm/Address.html -->

<f:section name="Default">
    <!--TYPO3SEARCH_end-->
    <link rel="stylesheet" type="text/css" media="all"
        href="/typo3conf/ext/slub_web_profile/Resources/Public/Css/accountform.css" />
    <f:variable name="formIdentifier">form-address</f:variable>

    <f:form enctype="multipart/form-data" class="form-mb">
        <div class="form-row">
            <label for="{formIdentifier}-street" class="form-label">{f:translate(key: 'accountform.address.address1')}</label>
            <input class="form-control" type="text" id="{formIdentifier}-street" name="account[PostalAddress1]" value="{user.account.X_post_address.street_1}">
        </div>
        <div class="form-row">
            <label for="{formIdentifier}-postcode" class="form-label">{f:translate(key: 'accountform.address.postcode')}</label>
            <input class="form-control" type="text" id="{formIdentifier}-postcode" name="account[PostalPostCode]" value="{user.account.X_post_address.plz}">
        </div>
        <div class="form-row">
            <label for="{formIdentifier}-city" class="form-label">{f:translate(key: 'accountform.address.city')}</label>
            <input class="form-control" type="text" id="{formIdentifier}-city" name="account[PostalCity]" value="{user.account.X_post_address.ort}">
        </div>
        <div class="form-row">
            <label for="{formIdentifier}-country" class="form-label">{f:translate(key: 'accountform.address.country')}</label>
            <select class="form-select" id="{formIdentifier}-country" name="account[PostalCountry]">
                <option selected value="{user.account.X_post_address.country}">{user.account.X_post_address.country}</option>
                <option value="{f:translate(key: 'accountform.address.country.germany')}">{f:translate(key: 'accountform.address.country.germany')}</option>
                <option value="{f:translate(key: 'accountform.address.country.switzerland')}">{f:translate(key: 'accountform.address.country.switzerland')}</option>
                <option value="{f:translate(key: 'accountform.address.country.austria')}">{f:translate(key: 'accountform.address.country.austria')}</option>
                <option value="{f:translate(key: 'accountform.address.country.other')}">{f:translate(key: 'accountform.address.country.other')}</option>
            </select>
        </div>
        <button type="submit" class="btn btn-action btn-action-lg">{f:translate(key: 'accountform.address.actionBtn')}</button>
    </f:form>
    <!--TYPO3SEARCH_begin-->
</f:section>

</html>