<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="{formIdentifier}-true">
<f:layout name="Default" />
<!-- Templates/AccountForm/Social.html -->

<f:section name="Default">
    <!--TYPO3SEARCH_end-->
    <link rel="stylesheet" 
          type="text/css" 
          media="all"
          href="/typo3conf/ext/slub_web_profile/Resources/Public/Css/accountform.css" />
    <f:variable name="formIdentifier">form-{action}</f:variable>
    
    <div id="account{formIdentifier}" class="accountform">
        <f:render partial="AccountForm/Status" arguments="{status: status, currentAction: currentAction, action: action}" />

        <f:form enctype="multipart/form-data" section="account{formIdentifier}">
            <input type="hidden" name="account[action]" value="{action}">
            <div class="form-row">
                <label for="{formIdentifier}-phone" class="form-label">{f:translate(key: 'accountform.social.phonenumber')}</label>
                <input class="form-control" type="text" id="{formIdentifier}-phone" name="account[Phone]" value="{user.account.phonenumber}">
            </div>
            <button type="submit" class="btn btn-action btn-action-lg">{f:translate(key: 'accountform.social.actionBtn')}</button>
        </f:form>
    </div>
    <!--TYPO3SEARCH_begin-->
</f:section>

</html>