<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers">

<f:layout name="Page"/>

<f:section name="Content">
    <link
        rel="stylesheet"
        type="text/css"
        media="all"
        href="/typo3conf/ext/slub_web_profile/Resources/Public/Css/profile-template.css"/>

    <div id="content" class="content content__dashboard">
        <div class="centring">
            <div class="fullwidth-page" role="main">
                <f:cObject typoscriptObjectPath="lib.menu.rootline"/>
                <!--TYPO3SEARCH_begin-->
                <f:if condition="{data.subtitle}">
                    <f:then>
                        <h2>{data.subtitle}</h2>
                    </f:then>
                    <f:else>
                        <h2>{data.title}</h2>
                    </f:else>
                </f:if>
                <f:if condition="{data.abstract}">
                    <div class="intro-text">{data.abstract -> f:format.html()}</div>
                </f:if>
                <f:cObject typoscriptObjectPath="lib.dynamicContent" data="0"/>
                <!-- TYPO3SEARCH_end -->
            </div>
        </div>
    </div>
</f:section>

</html>
