<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
	  xmlns:n="http://typo3.org/ns/GeorgRinger/News/ViewHelpers"
	  data-namespace-typo3-fluid="true">
<f:comment>Partials/Bookmark/Tiles.html</f:comment>

<div class="js-bookmarktiles-item bookmarktiles__item tiles__item">

	<f:comment>Header</f:comment>
	<h4 class="bookmarktiles__title tiles__title">
		<f:link.action
			pageUid="{settings.detailPageUid}"
			arguments="{bookmark: bookmarkItem.uid}"
			title="{bookmarkItem.title}">
			{bookmarkItem.title}
		</f:link.action>
	</h4>

	<f:comment>Date</f:comment>
	<p class="timedata">
		<span class="bookmarktiles__date timedata__date">
			<time datetime="{f:format.date(date:bookmarkItem.startDateTime.format, format:'Y-m-d')}">
				<f:format.date format="d F Y">{bookmarkItem.startDateTime.format}</f:format.date>
			</time>
		</span>
	</p>

	<f:if condition="{bookmark.default.unsubscribeUrl}">
		<div class="footerdata">
			<a href="{bookmark.default.unsubscribeUrl}" class="footerdata__unsubscribe" >
				<f:translate key="bookmark.default.unsubscribe"/>
			</a>
		</div>
	</f:if>
</div>

</html>
