<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
	  data-namespace-typo3-fluid="true">
<f:comment>Partials/Bookmark/Widget.html</f:comment>

<f:if condition="{iterator.index} < {settings.limit}">
	<li {f:if(condition: '{f:format.date(date: \'now\', format: \'Y-m-d\')} > {f:format.date(date:bookmarkItem.startDateTime.format, format:\'Y-m-d\')}', then: 'class="bookmarkwidget__overdue"')}>
		<f:comment>Date</f:comment>
		<div class="bookmarkwidget__date timedata__date">
			<time datetime="{f:format.date(date:bookmarkItem.startDateTime.format, format:'Y-m-d')}">
				<f:format.date format="d F Y">{bookmarkItem.startDateTime.format}</f:format.date>
			</time>
		</div>

		<f:comment>Header</f:comment>
		<f:link.action
			pageUid="{settings.detailPageUid}"
			arguments="{bookmark: bookmarkItem.uid}"
			title="{bookmarkItem.title}"
			class="bookmarkwidget__title widget__title">
			{bookmarkItem.title}
		</f:link.action>
	</li>
</f:if>

</html>
