{namespace slub=Slub\SlubWebProfile\ViewHelpers}

<html
    data-namespace-typo3-fluid="true"
    xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    xmlns:slub="http://typo3.org/ns/Slub/SlubWebProfile/ViewHelpers">
<f:layout name="Default"/>

<f:section name="Default">
    <link
        rel="stylesheet"
        type="text/css"
        media="all"
        href="/typo3conf/ext/slub_web_profile/Resources/Public/Css/dashboard.css"/>

    <link
        rel="stylesheet"
        type="text/css"
        media="all"
        href="/typo3conf/ext/slub_web_profile/Resources/Public/Css/widgets.css"/>

    <f:if condition="{widgets -> f:count()} > 0">
        <script
            type="module"
            src="/typo3conf/ext/slub_web_profile/Resources/Public/JavaScript/dashboard.js"></script>

        <f:comment>Personalise Dashboard</f:comment>
        <div class="dashboard__header">
            <a tabindex="0" class="btn btn-personalise" role="button" title="Personalise popover"
               href="#collapsePersonaliseMenu"
               aria-expanded="false"
               aria-controls="collapsePersonaliseMenu"
               data-bs-toggle="collapse"
               data-bs-target="#collapsePersonaliseMenu"
               data-bs-trigger="focus"
               data-bs-content="Personalise Dashboard">
                <span class="icn-plus" aria-label="Open">+</span>
                <f:translate key="general.personalise"/>
            </a>
        </div>

        <f:for as="widget" each="{widgets}">
            <f:switch expression="{widget.CType}">
                <f:case value="slubwebprofile_eventlist">
                    <f:variable name="alignment{widget.CType}" value="transverse"/>
                </f:case>
                <f:case value="slubwebprofile_servicelist">
                    <f:variable name="alignment{widget.CType}" value="upright"/>
                </f:case>
                <f:defaultCase>
                    <f:variable name="alignment{widget.CType}" value="default"/>
                </f:defaultCase>
            </f:switch>
        </f:for>

        <f:comment>Widget menu selection</f:comment>
        <div id="collapsePersonaliseMenu" class="dashboard__controller collapse show">
            <ul>
                <f:for as="widget" each="{widgets}">
                    <f:variable name="disabled" value=""/>

                    <f:if condition="{slub:php.inArray(string: widget.CType, array: userWidgets)}">
                        <f:variable name="disabled" value=" controller__item--is-disabled"/>
                    </f:if>

                    <li
                        class="js-dashboard-controller-item controller__item{disabled}"
                        id="js-dashboard-controller-item-{widget.uid}"
                        data-widget="{f:format.json(
                            value: {
                                id: widget.uid,
                                type: widget.CType,
                                alignment: '{alignment{widget.CType}}'
                            },
                            forceObject: true
                        )}">
                        {widget.header}
                    </li>
                </f:for>
            </ul>
        </div>

        <f:comment>Dashboard Widgets</f:comment>
        <div
            class="dashboard__widgets"
            id="js-dashboard-widgets"
            data-uri="{uri.path}"
            data-page-uid="{pageUid}">
            <template id="js-widget-template">
                <div
                    class="js-widgets-item js-widgets-loading widgets__item widgets__item--###alignment###"
                    data-widget-id="###id###"
                    id="js-widgets-item-###id###">
                    <svg class="widget__loading" viewbox="0 0 128 128">
                        <use href="#svg-icon-loading"></use>
                    </svg>
                </div>
            </template>

            <f:for as="widget" each="{widgets}">
                <f:if condition="{slub:php.inArray(string: widget.CType, array: userWidgets)}">
                    <div
                        class="js-widgets-item js-widgets-loading widgets__item widgets__item--{alignment{widget.CType}}"
                        data-widget-id="{widget.uid}"
                        id="js-widgets-item-{widget.uid}">
                        <svg class="widget__loading" viewbox="0 0 128 128">
                            <use href="#svg-icon-loading"></use>
                        </svg>
                    </div>
                </f:if>
            </f:for>
        </div>

        <svg aria-hidden="true" focusable="false" style="display:none;" xmlns="http://www.w3.org/2000/svg">
            <symbol id="svg-icon-loading" viewBox="0 0 128 128">
                <path d="M109.25 55.5h-36l12-12a29.54 29.54 0 0 0-49.53 12H18.75A46.04 46.04 0 0 1 96.9 31.84l12.35-12.34v36zm-90.5 17h36l-12 12a29.54 29.54 0 0 0 49.53-12h16.97A46.04 46.04 0 0 1 31.1 96.16L18.74 108.5v-36z"/>
            </symbol>
        </svg>
    </f:if>
</f:section>
</html>
