<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      data-namespace-typo3-fluid="true">
<f:comment>Partials/SearchQuery/Default.html</f:comment>

<f:variable name="searchFields">

</f:variable>

<tr class="search-query-list__item search-query-list__item--title" id="js-search-query-list-item-{searchQueryItem.uid}-title">
    <td>
        <div class="search-query-item__title" id="js-search-query-export-item-{searchQueryItem.uid}-title">{searchQueryItem.title}</div>

        <div class="search-query-item__badge">
            <strong>
                <f:translate id="LLL:EXT:slub_web_profile/Resources/Private/Language/locallang.xlf:searchQuery.default.type"/>
            </strong>
            <span id="js-search-query-export-item-{searchQueryItem.uid}-type">
                <f:translate id="LLL:EXT:slub_web_profile/Resources/Private/Language/locallang.xlf:searchQuery.type.{searchQueryItem.type}"/>
            </span>
        </div>

        <div class="search-query-item__badge">
            <strong>
                <f:translate id="LLL:EXT:slub_web_profile/Resources/Private/Language/locallang.xlf:searchQuery.default.fields"/>
            </strong>
            <f:for as="query" each="{searchQueryItem.queryPrepared}" key="key" iteration="iteration"><f:if condition="{iteration.index} > 0">, </f:if><f:translate key="LLL:EXT:slub_katalog_beta/Resources/Private/Language/locallang.xml:search.fieldselector.{key}"/></f:for>
        </div>
    </td>
    <td>
        <span id="js-search-query-export-item-{searchQueryItem.uid}-hits">{searchQueryItem.numberOfResults}</span>
    </td>
    <td>
        <time id="js-search-query-export-item-{searchQueryItem.uid}-date" datetime="{f:format.date(date:searchQueryItem.creationDate.format, format:'Y-m-d')}">
            <f:format.date format="{settings.dateFormat}">{searchQueryItem.creationDate.format}</f:format.date>
        </time>
    </td>
    <td>
        <input type="checkbox" class="search-query-item__marker js-search-query-list-item" name="search_query_item[]" value="{searchQueryItem.uid}"/>
    </td>
    <td>
        <f:link.page
            class="search-query-item__export"
            id="js-search-query-export-item-{searchQueryItem.uid}-link"
            pageUid="{settings.searchResultPageUid}"
            additionalParams="{
                tx_find_find: {
                    q: searchQueryItem.queryPrepared
                }
            }">
            <svg viewBox="0 0 24 24">
                <use href="#search-query-icon-export"></use>
            </svg>
        </f:link.page>
    </td>
</tr>
<tr class="search-query-list__item search-query-list__item--content" id="js-search-query-list-item-{searchQueryItem.uid}-content">
    <td colspan="5">
        <ul id="js-search-query-export-item-{searchQueryItem.uid}-field">
            <f:for as="query" each="{searchQueryItem.queryPrepared}" key="key">
                <li>
                    <strong>
                        <f:translate key="LLL:EXT:slub_katalog_beta/Resources/Private/Language/locallang.xml:search.fieldselector.{key}"/>:
                    </strong>
                    {query}
                </li>
            </f:for>
        </ul>
        <p>
            <strong>
                <f:translate id="LLL:EXT:slub_web_profile/Resources/Private/Language/locallang.xlf:searchQuery.default.description"/>
            </strong>

            <span id="js-search-query-export-item-{searchQueryItem.uid}-description">
                <f:if condition="{searchQueryItem.description}">
                    <f:then>
                        <f:format.nl2br>{searchQueryItem.description}</f:format.nl2br>
                    </f:then>
                    <f:else>
                        <f:translate id="LLL:EXT:slub_web_profile/Resources/Private/Language/locallang.xlf:searchQuery.default.description.empty" />
                    </f:else>
                </f:if>
            </span>
        </p>
    </td>
</tr>
</html>
