<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      data-namespace-typo3-fluid="true">
<f:comment>Partials/SearchQuery/Widget.html</f:comment>

<f:if condition="{iterator.index} < {settings.limit}">
    <li>
        <f:comment>Date</f:comment>
        <div class="searchquerywidget__date timedata__date">
            <time datetime="{f:format.date(date:searchQueryItem.creationDate.format, format:'Y-m-d')}">
                <f:format.date format="d F Y">{searchQueryItem.creationDate.format}</f:format.date>
            </time>
        </div>
        <f:if condition="{settings.searchResultPageUid}">
            <f:then>
                <f:link.page
                    pageUid="{settings.searchResultPageUid}"
                    class="searchquerywidget__title widget__title"
                    additionalParams="{
                        tx_find_find: {
                            q: searchQueryItem.queryPrepared
                        }
                    }">
                    {searchQueryItem.title}
                </f:link.page>
            </f:then>
            <f:else>
                <div class="searchquerywidget__title widget__title">{searchQueryItem.title}</div>
            </f:else>
        </f:if>
        <div>
            <f:if condition="{searchQueryItem.numberOfResults} == 1">
                <f:then>
                    <f:translate key="searchQuery.widget.result" arguments="{0: searchQueryItem.numberOfResults}"/>
                </f:then>
                <f:else>
                    <f:translate key="searchQuery.widget.results" arguments="{0: searchQueryItem.numberOfResults}"/>
                </f:else>
            </f:if>
        </div>
    </li>
</f:if>
</html>
