<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
	  xmlns:n="http://typo3.org/ns/GeorgRinger/News/ViewHelpers"
	  data-namespace-typo3-fluid="true">
<f:comment>Partials/Reserve/List.html</f:comment>

<tr class="reservetable__item tableview-item">
	<th scope="row">{reserveItem.uid}</th>
	<td>
		<f:link.action pageUid="{settings.detailPageUid}" arguments="{reserve: reserveItem.uid}" title="{reserveItem.title}">
			{reserveItem.barcode}
		</f:link.action>
	</td>
	<td>{reserveItem.title}</td>
	<td>{reserveItem.author}</td>
	<td>{reserveItem.position}</td>
	<td><input class="tableview-item__marker" type="checkbox" name="reserveItem[deleteReservation][{reserveItem.barcode}]" value="1"></td>
</tr>

</html>
