<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:comment>Partials/AccountForm/Status.html</f:comment>

<link rel="stylesheet" type="text/css" media="all"
      href="/typo3conf/ext/slub_web_profile/Resources/Public/Css/api-message.css" />
    
<f:if condition="{currentAction} == {action}">
    <f:switch expression="{status.code}">
        <f:case value="200">
            <div class="api-message-status--successful">
                {f:translate(key: 'accountform.address.status.success')}
            </div>
        </f:case>
        <f:case value="400">
            <div class="api-message-status--error">
                <f:variable name="requiredField" value="0" />
                <f:for each="{status.error}" as="errorField">
                    <f:if condition="{errorField} == 'EmailAddress'">
                        <f:then>
                            {f:translate(key: 'accountform.address.status.error.invalidMail')}
                        </f:then>
                        <f:else if="{requiredField} == 0">
                            {f:translate(key: 'accountform.address.status.error.requiredFields')}
                            <f:variable name="requiredField" value="1" />
                        </f:else>
                    </f:if>
                </f:for>
                <f:if condition="{status.message} == 'Bad Request'">
                    {f:translate(key: 'accountform.address.status.error.badRequest')}
                </f:if>
            </div>
        </f:case>
        <f:case value="500">
            <div class="api-message-status--error">
                {f:translate(key: 'accountform.address.status.error.serverError')}
            </div>
        </f:case>
    </f:switch>
</f:if>

</html>