<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:comment>Partials/AccountForm/Status.html</f:comment>

<f:if condition="{currentAction} == {action}">
    <f:switch expression="{status.code}">
        <f:case value="200">
            <div class="form-message-status api-message-status--successful">
                {f:translate(key: 'accountform.address.status.success')}
            </div>
        </f:case>
        <f:case value="400">
            <div class="form-message-status api-message-status--error">
                <f:variable name="requiredField" value="0" />
                <f:for each="{status.error}" as="errorField">
                    <f:if condition="{errorField} == 'EmailAddress'">
                        <f:then>
                            {f:translate(key: 'accountform.address.status.error.invalidMail')}
                        </f:then>
                        <f:else if="{requiredField} == 0">
                            {f:translate(key: 'accountform.address.status.error.requiredFields')}
                            <f:variable name="requiredField" value="1" />
                        </f:else>
                    </f:if>
                </f:for>
            </div>
        </f:case>
    </f:switch>
</f:if>

</html>