.event-filter {
    display: none;
    margin-bottom: 2rem;
    position: relative;
    z-index: 10;
}

.event-filter--show {
    display: inline-block;
}

.event-filter__label {
    cursor: pointer;
    background: #d3d3d3;
    padding: .5rem 1rem !important;
    margin: 0 !important;
}

.event-filter__label:after {
    content: '';
    transition: top .25s linear 0s, transform .25s linear 0s;
    display: inline-block;
    position: relative;
    top: -.25rem;
    margin-left: .5rem;
    width: .75rem;
    height: .75rem;
    border-right: 1px #333 solid;
    border-bottom: 1px #333 solid;
    transform: rotate(45deg);
}

.event-filter__label--open:after {
    transform: rotate(225deg);
    top: .25rem;
}

.event-filter__list {
    display: none;
    width: 100%;
    margin: 0 !important;
    padding: .5rem 1rem !important;
    list-style-type: none !important;
    background: rgba(238, 238, 238, .95);
    border: 1px #d3d3d3 solid;
    position: absolute;
}

.event-filter__list--show {
    display: block;
}

.event-filter__item {
    cursor: pointer;
    margin: 0 !important;
    padding: 0 !important;
}

.event-filter__item--active {
    font-weight: bold;
}

.event-filter__result-item--hide {
    display: none;
}
