<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
	  xmlns:n="http://typo3.org/ns/GeorgRinger/News/ViewHelpers"
	  data-namespace-typo3-fluid="true">
<f:comment>Partials/Loan/Default.html</f:comment>

<tr class="loantable__item tableview-item">
	<th scope="row">{loanItem.uid}</th>
	<td>
		<f:link.action pageUid="{settings.detailPageUid}" arguments="{loan: loanItem.uid}" title="{loanItem.title}">
			{loanItem.barcode}
		</f:link.action>
	</td>
	<td>{loanItem.title}</td>
	<td>{loanItem.author}</td>
	<td>
		<time datetime="{f:format.date(date:loanItem.date-loan, format:'Y-m-d')}">
			<f:format.date format="d F Y">{loanItem.date-loan}</f:format.date><br />
			<f:format.date format="H:i">{loanItem.date-loan}</f:format.date> <f:translate key="general.oClock"/>
		</time>
	</td>
	<td>
		<time datetime="{f:format.date(date:loanItem.date-return, format:'Y-m-d')}">
			<f:format.date format="d F Y">{loanItem.date-return}</f:format.date><br />
			<f:format.date format="H:i">{loanItem.date-return}</f:format.date> <f:translate key="general.oClock"/>
		</time>
	</td>
</tr>

</html>
