<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
	  xmlns:n="http://typo3.org/ns/GeorgRinger/News/ViewHelpers"
	  data-namespace-typo3-fluid="true">
<f:comment>Partials/Loan/List.html</f:comment>

<tr class="loantable__item tableview-item">
	<th scope="row">{loanItem.uid}</th>
	<td>
		<f:link.action pageUid="{settings.detailPageUid}" arguments="{loan: loanItem.uid}" title="{loanItem.title}">
			{loanItem.barcode}
		</f:link.action>
	</td>
	<td>{loanItem.title}</td>
	<td>{loanItem.author}</td>
	<td>
		<time datetime="{f:format.date(date:loanItem.date-due, format:'Y-m-d')}">
			<f:format.date format="d F Y">{loanItem.date-due}</f:format.date>
		</time>
	</td>
	<td>{loanItem.renewals}</td>
	<td><input class="tableview-item__marker" type="checkbox" name="loanItem[renewLoan][{loanItem.barcode}]" value="1"></td>
</tr>

</html>
