@import '../variables';

.search-query-action {
    margin: 2.225rem 0 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;

    li {
        margin: .625rem 0 0 1.25rem;
        padding: 0;
        line-height: 100%;
        display: flex;
        justify-content: center;

        &:last-child {
            margin-right: 0;
        }
    }
}

.search-query-action__button,
.search-query-action__link {
    transition: all $transition-default;
    border: none;
    font-size: .8rem;
    cursor: pointer;
    white-space: nowrap;
}

.search-query-action__button {
    text-transform: uppercase;
    font-weight: bold;
    color: $white;
    background: $secondary-petrol-green;
    padding: .625rem;
    border-top: 2px $secondary-petrol-green solid;
    border-bottom: 2px $secondary-petrol-dark solid;

    &:hover {
        background: $primary-red-darker;
        border-top-color: $primary-red-darker;
    }
}

.search-query-action__link {
    background: none;
    color: $midgrey;
    text-decoration: underline;

    &:hover {
        color: $primary-red-darker;
    }
}
