<html
    xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    data-namespace-typo3-fluid="true">
<f:layout name="Default"/>
<!-- Templates/Bookmark/List.html -->

<f:section name="Default">
    <!--TYPO3SEARCH_end-->
    <f:variable name="countBookmarks" value="{bookmarks -> f:count()}"/>

    <!--Widget-View-->
    <f:render
        partial="Widget/CloseButton"
        arguments="{id: content.uid}" />
    <f:if condition="{countBookmarks} > 0">
        <f:then>
            <div id="js-widget-content-{content.uid}" class="bookmarkwidget widget__content">
                <ul class="widgetlist">
                    <f:for as="bookmarkItem" each="{bookmarks}" iteration="iterator">
                        <f:render partial="Bookmark/Widget" arguments="{bookmarkItem: bookmarkItem, settings: settings, iterator: iterator}" />
                    </f:for>
                </ul>
                <f:render
                    partial="Widget/Footer"
                    arguments="{
                        pageUid: settings.listPageUid,
                        title: '{f:translate(key: \'bookmark.widget.more\')}'
                    }"/>
            </div>
        </f:then>
        <f:else>
            <div class="bookmarkwidget__noentry widget__noentry">
                <div class="widget__noentry-text">
                    <f:if condition="{content.bodytext}">
                        <f:then>
                            <f:format.html>{content.bodytext}</f:format.html>
                        </f:then>
                        <f:else>
                            <p><f:translate key="bookmark.default.empty" /></p>
                        </f:else>
                    </f:if>
                </div>
            </div>
            <span class="footerdata__morelink footerdata__morelink-deactive"><f:format.raw><f:translate key="bookmark.widget.more"/></f:format.raw></span>
        </f:else>
    </f:if>
    <!--TYPO3SEARCH_begin-->
</f:section>
</html>
