<html
    xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    data-namespace-typo3-fluid="true">
<f:layout name="Default"/>
<!-- Templates/Sidebar/Detail.html -->

<f:section name="Default">
    <!--TYPO3SEARCH_end-->
    <link
        rel="stylesheet"
        type="text/css"
        media="all"
        href="/typo3conf/ext/slub_web_profile/Resources/Public/Css/sidebarmenu.css"/>
    <f:if condition="{pages -> f:count()} > 0">
        <ul class="sidebarmenu">
            <f:for as="page" each="{pages}">
                <li class="sidebarmenu__item {f:if(condition: page.current, then: 'active')}">
                    <a class="sidebarmenu__link" href="{page.link}">{page.data.title}
                        <f:if condition="{page.data.tx_slubwebprofile_navigationSubtitle}">
                            <span>{page.data.tx_slubwebprofile_navigationSubtitle}</span>
                        </f:if>
                    </a>
                </li>
            </f:for>
        </ul>   
    </f:if>
    <!--TYPO3SEARCH_begin-->
</f:section>
</html>
