<html
    xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    data-namespace-typo3-fluid="true">
<f:layout name="Default"/>
<!-- Templates/Event/List.html -->

<f:section name="Default">
    <!--TYPO3SEARCH_end-->
    <f:if condition="{events}">
        <f:then>
            <f:switch expression="{settings.layout}">
                <f:case value="1">
                    <!--Tiles-View-->
                    <link
                        rel="stylesheet"
                        type="text/css"
                        media="all"
                        href="/typo3conf/ext/slub_web_profile/Resources/Public/Css/tiles.css"/>
                    <link
                        rel="stylesheet"
                        type="text/css"
                        media="all"
                        href="/typo3conf/ext/slub_web_profile/Resources/Public/Css/event-tiles.css"/>

                    <div class="eventtiles tiles">
                        <f:for as="eventItem" each="{events}" iteration="iterator">
                            <f:render partial="Event/Tiles" arguments="{eventItem: eventItem,settings:settings,iterator:iterator}" />
                        </f:for>
                    </div>
                </f:case>
                <f:case value="2">
                    <!--Widgets-View-->
                    <link
                        rel="stylesheet"
                        type="text/css"
                        media="all"
                        href="/typo3conf/ext/slub_web_profile/Resources/Public/Css/event-widget.css"/>
                    <link
                        rel="stylesheet"
                        type="text/css"
                        media="all"
                        href="/typo3conf/ext/slub_web_profile/Resources/Public/Css/Vendor/calendar.css"/>
                    <f:variable
                        name="eventsCalendar"
                        value=""/>

                    <f:render
                        partial="Widget/CloseButton"
                        arguments="{id: content.uid}" />

                    <div class="eventwidget">
                        <ul class="widgetlist">
                            <f:for as="eventItem" each="{events}" iteration="iterator">
                                <f:render partial="Event/Widget" arguments="{eventItem: eventItem,settings:settings,iterator:iterator}" />
                            </f:for>
                        </ul>
                        <div class="footerdata">
                            <a class="footerdata__morelink" href="{f:uri.typolink(parameter: settings.listPageUid)}">
                                <f:translate key="eventItem.teaser.more"/>
                            </a>
                        </div>
                    </div>

                    <script type="module">
                        import {} from '/typo3conf/ext/slub_web_profile/Resources/Public/JavaScript/Vendor/calendar.js'

                        /**
                         * @type {[]}
                         */
                        const widgetEventTeaserCalendar = [<f:format.raw>{eventsCalendar}</f:format.raw>];

                        /**
                         * @type {HTMLElement}
                         */
                        const calendarElement = document.querySelector('#js-widget-event-teaser-calendar');

                        /**
                         * @type {string}
                         */
                        const language = calendarElement.dataset.language;

                        /**
                         * @type {Object}
                         */
                        let translation = {
                            'de-DE': {
                                'weekDays': ['Mo', 'Di', 'Mi', 'Do', 'Fr', 'Sa', 'So'],
                                'months': ['Januar', 'Februar', 'März', 'April', 'Mai', 'Juni', 'Juli', 'August', 'September', 'Oktober', 'November', 'Dezember']
                            },
                            'default': {
                                'weekDays': ['Mon', 'Due', 'Wed', 'Thu', 'Fri', 'Sat', 'Sun'],
                                'months': ['January', 'February', 'March', 'April', 'Mai', 'June', 'July', 'August', 'September', 'October', 'November', 'December']
                            }
                        };

                        /**
                         * @param {string} identifier
                         * @returns {string[]|*}
                         */
                        const getTranslation = (identifier) => {
                            if (translation[identifier] === undefined) {
                                identifier = 'default';
                            }

                            return translation[identifier];
                        }

                        new Calendar({
                            id: '#js-widget-event-teaser-calendar',
                            calendarSize: 'small',
                            customMonthValues: getTranslation(language).months,
                            customWeekdayValues: getTranslation(language).weekDays,
                            eventsData: widgetEventTeaserCalendar
                        });
                    </script>

                    <div id="js-widget-event-teaser-calendar" data-language="{language.hreflang}"></div>
                </f:case>
                <f:defaultCase>
                    <!--Eventitem-View-->
                    <f:for as="eventItem" each="{events}" iteration="iterator">
                        <f:render partial="Event/Item" arguments="{eventItem: eventItem,settings:settings,iterator:iterator}" />
                    </f:for>
                </f:defaultCase>
            </f:switch>
        </f:then>
        <f:else>
            <div class="event__no-found">
                <f:translate key="eventItem.default.noEvents" />
            </div>
        </f:else>
    </f:if>
    <!--TYPO3SEARCH_begin-->
</f:section>
</html>
