<html
    xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    data-namespace-typo3-fluid="true">
<f:layout name="Default"/>
<!-- Templates/SearchQuery/List.html -->

<f:section name="Default">
    <!--TYPO3SEARCH_end-->
    <f:variable name="countSearchQuery" value="{searchQuery -> f:count()}"/>

    <f:if condition="{settings.layout} == 1">
        <!--Default-View-->
        <f:if condition="{countSearchQuery} == 0">
            <f:then>
                <p><f:translate key="searchQuery.default.empty" /></p>
            </f:then>
            <f:else>
                <link
                    rel="stylesheet"
                    type="text/css"
                    media="all"
                    href="/typo3conf/ext/slub_web_profile/Resources/Public/Css/search-query-list.css"/>

                <script
                    type="module"
                    src="/typo3conf/ext/slub_web_profile/Resources/Public/JavaScript/search-query.js"></script>

                <p id="js-search-query-status" style="display:none"><f:translate key="searchQuery.default.empty" /></p>
                <div class="search-query-list" id="js-search-query-list">
                    <table class="search-query-list__table">
                        <thead>
                            <tr>
                                <th><f:translate id="LLL:EXT:slub_web_profile/Resources/Private/Language/locallang.xlf:searchQuery.default.table.th.title"/></th>
                                <th><f:translate id="LLL:EXT:slub_web_profile/Resources/Private/Language/locallang.xlf:searchQuery.default.table.th.results"/></th>
                                <th><f:translate id="LLL:EXT:slub_web_profile/Resources/Private/Language/locallang.xlf:searchQuery.default.table.th.date"/></th>
                                <th></th>
                                <th></th>
                            </tr>
                        </thead>

                        <f:for as="searchQueryItem" each="{searchQuery}">
                            <f:render
                                partial="SearchQuery/Default"
                                arguments="{
                                    searchQueryItem: searchQueryItem,
                                    settings: settings
                                }" />
                        </f:for>
                    </table>

                    <svg xmlns="http://www.w3.org/2000/svg" style="display:none">
                        <symbol id="search-query-icon-export" viewBox="0 0 24 24">
                            <path d="M 12 2 C 6.4889971 2 2 6.4889971 2 12 C 2 17.511003 6.4889971 22 12 22 C 17.511003 22 22 17.511003 22 12 C 22 6.4889971 17.511003 2 12 2 z M 12 4 C 16.430123 4 20 7.5698774 20 12 C 20 13.85307 19.369262 15.55056 18.318359 16.904297 L 7.0957031 5.6816406 C 8.4494397 4.6307377 10.14693 4 12 4 z M 5.6816406 7.0957031 L 16.904297 18.318359 C 15.55056 19.369262 13.85307 20 12 20 C 7.5698774 20 4 16.430123 4 12 C 4 10.14693 4.6307377 8.4494397 5.6816406 7.0957031 z"/>
                        </symbol>
                    </svg>

                    <ul>
                        <li>
                            <button
                                id="js-search-query-select-all"
                                data-select="{f:translate(id: 'LLL:EXT:slub_web_profile/Resources/Private/Language/locallang.xlf:searchQuery.default.action.selectAll')}"
                                data-deselect="{f:translate(id: 'LLL:EXT:slub_web_profile/Resources/Private/Language/locallang.xlf:searchQuery.default.action.deselectAll')}">
                                <f:translate id="LLL:EXT:slub_web_profile/Resources/Private/Language/locallang.xlf:searchQuery.default.action.selectAll"/>
                            </button>
                        </li>
                        <li>
                            <button id="js-search-query-export">
                                <f:translate id="LLL:EXT:slub_web_profile/Resources/Private/Language/locallang.xlf:searchQuery.default.action.export"/>
                            </button>
                        </li>
                        <li>
                            <button id="js-search-query-delete">
                                <f:translate id="LLL:EXT:slub_web_profile/Resources/Private/Language/locallang.xlf:searchQuery.default.action.delete"/>
                            </button>
                        </li>
                    </ul>
                </div>
            </f:else>
        </f:if>
    </f:if>

    <f:if condition="{settings.layout} == 2">
        <!--Widgets-View-->
        <f:render
            partial="Widget/CloseButton"
            arguments="{id: content.uid}" />

        <f:if condition="{countSearchQuery} == 0">
            <f:then>
                <p><f:translate key="searchQuery.default.empty" /></p>
            </f:then>
            <f:else>
                <div class="searchquerywidget">
                    <ul class="widgetlist">
                        <f:for as="searchQueryItem" each="{searchQuery}" iteration="iterator">
                            <f:render
                                partial="SearchQuery/Widget"
                                arguments="{
                                    searchQueryItem: searchQueryItem,
                                    settings: settings,
                                    iterator: iterator
                                }" />
                        </f:for>
                    </ul>

                    <f:render
                        partial="Widget/Footer"
                        arguments="{
                            pageUid: settings.listPageUid,
                            title: '{f:translate(key: \'searchQuery.widget.more\')}'
                        }"/>
                </div>
            </f:else>
        </f:if>
    </f:if>
    <!--TYPO3SEARCH_begin-->
</f:section>
</html>
