<html
    xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    data-namespace-typo3-fluid="true">
<f:layout name="Default"/>
<!-- Templates/SearchQuery/List.html -->

<f:section name="Default">
    <!--TYPO3SEARCH_end-->
    <f:variable name="countSearchQuery" value="{searchQuery -> f:count()}"/>

    <f:if condition="{settings.layout} == 1">
        <!--Default-View-->
        <f:if condition="{countSearchQuery} == 0">
            <f:then>
                <p><f:translate key="searchQuery.default.empty" /></p>
            </f:then>
            <f:else>
                <script
                    type="module"
                    src="/typo3conf/ext/slub_web_profile/Resources/Public/JavaScript/search-query.js"></script>

                <p id="js-search-query-status" style="display:none"><f:translate key="searchQuery.default.empty" /></p>
                <div id="js-search-query-list">
                    <table>
                        <tr>
                            <th><f:translate id="LLL:EXT:slub_web_profile/Resources/Private/Language/locallang.xlf:searchQuery.default.table.th.title"/></th>
                            <th><f:translate id="LLL:EXT:slub_web_profile/Resources/Private/Language/locallang.xlf:searchQuery.default.table.th.results"/></th>
                            <th><f:translate id="LLL:EXT:slub_web_profile/Resources/Private/Language/locallang.xlf:searchQuery.default.table.th.date"/></th>
                            <th></th>
                        </tr>

                        <f:for as="searchQueryItem" each="{searchQuery}">
                            <f:render
                                partial="SearchQuery/Default"
                                arguments="{
                                    searchQueryItem: searchQueryItem,
                                    settings: settings
                                }" />
                        </f:for>
                    </table>

                    <ul>
                        <li><button id="js-search-query-select-all">alles auswählen</button></li>
                        <li><button id="js-search-query-delete">auswahl löschen</button></li>
                    </ul>
                </div>
            </f:else>
        </f:if>
    </f:if>

    <f:if condition="{settings.layout} == 2">
        <!--Widgets-View-->
        <f:render
            partial="Widget/CloseButton"
            arguments="{id: content.uid}" />

        <f:if condition="{countSearchQuery} == 0">
            <f:then>
                <p><f:translate key="searchQuery.default.empty" /></p>
            </f:then>
            <f:else>
                <div class="searchquerywidget">
                    <ul class="widgetlist">
                        <f:for as="searchQueryItem" each="{searchQuery}" iteration="iterator">
                            <f:render
                                partial="SearchQuery/Widget"
                                arguments="{
                                    searchQueryItem: searchQueryItem,
                                    settings: settings,
                                    iterator: iterator
                                }" />
                        </f:for>
                    </ul>

                    <f:render
                        partial="Widget/Footer"
                        arguments="{
                            pageUid: settings.listPageUid,
                            title: '{f:translate(key: \'searchQuery.widget.more\')}'
                        }"/>
                </div>
            </f:else>
        </f:if>
    </f:if>
    <!--TYPO3SEARCH_begin-->
</f:section>
</html>
