<html
    xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    data-namespace-typo3-fluid="true">
<f:layout name="Default"/>
<!-- Templates/SearchQuery/List.html -->

<f:section name="Default">
    <!--TYPO3SEARCH_end-->
    <f:variable name="countSearchQuery" value="{user.searchQuery -> f:count()}"/>

    <f:if condition="{countSearchQuery} == 0">
        <div class="list__no-found">
            <f:translate key="searchQuery.default.empty" />
        </div>
    </f:if>

    <f:if condition="{countSearchQuery} > 0 && {settings.layout} == 1">
        <!--Default-View-->
        Tiles View of 'Search query list'
    </f:if>

    <f:if condition="{countSearchQuery} > 0 && {settings.layout} == 2">
        <!--Widgets-View-->
        <f:render
            partial="Widget/CloseButton"
            arguments="{id: content.uid}" />

        <div class="searchquerywidget">
            <ul class="widgetlist">
                <f:for as="searchQuery" each="{user.searchQuery}" iteration="iterator">
                    <f:render partial="SearchQuery/Widget" arguments="{searchQueryItem: searchQuery, settings: settings, iterator: iterator}" />
                </f:for>
            </ul>

            <f:render
                partial="Widget/Footer"
                arguments="{
                    pageUid: settings.listPageUid,
                    title: '{f:translate(key: \'searchQuery.widget.more\')}'
                }"/>
        </div>
    </f:if>
    <!--TYPO3SEARCH_begin-->
</f:section>
</html>
